<!-- Footer -->
<footer class="bg-light text-lg-start">
    <!-- Grid container -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="">AnguApp</h5><br>
        <address>
          <p> A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p>United States</p><br>
          <p><span>Email:</span> Inezannabelle@gmail.com</p>
        </address>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-5 mb-4 mb-md-0">
          <h5 class="">Useful links</h5><br>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark"><i class="fas fa-chevron-right"></i> Home</a>
            </li><br>
            <li>
              <a href="#!" class="text-dark"><i class="fas fa-chevron-right"></i> About us</a>
            </li><br>
            <li>
              <a href="#!" class="text-dark"><i class="fas fa-chevron-right"></i> Services</a>
            </li><br>
            <li>
              <a href="#!" class="text-dark"><i class="fas fa-chevron-right"></i> Terms of services</a>
            </li><br>
            <li>
              <a href="#!" class="text-dark"><i class="fas fa-chevron-right"></i> Privacy policy</a>
            </li><br>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-5 mb-4 mb-md-0">
          <h5 class="">Our services</h5><br>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-dark"><i class="fas fa-chevron-right"></i> Web design</a>
            </li><br>
            <li>
              <a href="#" class="text-dark"><i class="fas fa-chevron-right"></i> Web development</a>
            </li><br>
            <li>
              <a href="#" class="text-dark"><i class="fas fa-chevron-right"></i> Product Management</a>
            </li><br>
            <li>
              <a href="#" class="text-dark"><i class="fas fa-chevron-right"></i> Marketing</a>
            </li><br>
            <li>
              <a href="#" class="text-dark"><i class="fas fa-chevron-right"></i> Graphic design</a>
            </li><br>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="">Join our newsletter</h5><br>
  
          <p class="text-justify">
            Tamen quem nulla quae legam multos aute sint culpa legam noster magna
          </p><br>
          <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1" type="text" aria-label="Subscribe">
            <div class="input-group-append">
              <button class="btn btn-primary">Subscribe</button>
              <!-- <span class="input-group-text bg-primary lighten-3" id="basic-text1">Subscribe</span> -->
            </div>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="container-fluid">
    <div class="row bg-secondary">
    <div class="p-3 pull-left col-lg-4 col-xs-12 copy" >
     © 2020 Copyright: All right reserved <br>
    Designed by Annabelle
      
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-xs-12 ml-auto">
      <div class="pull-right">
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fas fa-envelope-square"></i></a>
      <a href="#"><i class="fab fa-bootstrap"></i></a>
    </div>
    </div>
  </div>
</div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->