<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" id="banner">
	<div class="container">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><span>Angu</span>App</a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto text-dark">
      <li class="nav-item active">
        <a class="nav-link" id="links" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="links" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="links" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="links" href="#">Portofolio</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" id="links" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="links" href="#">Pricing</a>
      </li>
	   <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="links" href="" data-toggle="dropdown"> Dropdown </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" id="links">Link 1</a>
        <a class="dropdown-item" href="#" id="links">Link 2</a>
        <a class="dropdown-item" href="#" id="links">Link 3</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="links" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-primary" id="btn" href="#"> Get Started </a>
    </li>
    </ul>
  </div>
	</div>
</nav>